<div class="d-flex justify-content-between align-items-center m-3">
  <div class="d-flex row">
  <h1>Welcome to the universe 🛸</h1>
  <h3>Check out stellar venues</h3>
  </div>
  <%= link_to "Add a new galaxy to the universe", new_venue_path, class: "btn btn-primary" %>
</div>
<div class="grid">
  <% @venues.each do |venue| %>
  <div class="venue_card">
    <%= render "index_photos", venue:venue %>
    <h2><%= link_to venue.name, venue_path(venue) %></h2>
    <p><strong><%= venue.address %></strong></p>
    <p><i class="fa-solid fa-people-group" style="color: #ffffff;"></i>  Capacity: <%= venue.capacity %></p>
  </div>
  <% end %>
</div>
