<h1>index</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3 venue_card">
        <%= @venues.each do |venue| %>
        <img src=<%= venue.image_url %> alt="image of <% venue.name %>">
        <h2><%= venue.name %></h2>
        <p><strong><%= venue.address %></strong></p>
        <p>Capacity:<%= venue.capaciy %></p>
        <!-- <p><%= venue.description %></p> -->
        <% end %>
      </div>
    </div>
  </div>
</div>
