<div class="booking_container">
  <h1>Add a new galaxy</h1>
    <%= simple_form_for(@venue, @chatroom) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :capacity %>
      <%= f.input :logistic_partner %>
      <%= f.input :access %>
      <%= f.input :available_ressources %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <a class="fun-btn"><%= f.submit %></a>
  <% end %>
</div>
