<h1> <%= @venue.name %> </h1>
<h3> <%= "Address: #{@venue.address}" %> </h3>
<h3> <%= "Capacity: #{@venue.capacity}" %> </h3>
<p><%= @venue.description %></p>

<%= simple_form_for [@venue, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.button :submit %>
<% end %>
