<h1> <%= @venue.name %> </h1>
<h3> <%= "Address: #{@venue.address}" %> </h3>
<h3> <%= "Capacity: #{@venue.capacity}" %> </h3>

<h3><%= "Logistic partner on-site: #{@venue.logistic_partner}" %></h3>
<h3><%= "Available ressources on-site:  #{@venue.available_ressources}" %></h3>
<h3><%= "Access: #{@venue.access}" %></h3>

<p><%= @venue.description %></p>

<%= simple_form_for [@venue, @booking] do |f| %>
  <%= f.input :date %>
  <a class="btn"><%= f.button :submit %></a>
  <% end %>
